
*.pyc
Unigram/
Bigram/

ModelCreation_SentenceGenerator/SmoothedUnigram/children

ModelCreation_SentenceGenerator/SmoothedUnigram/crime

ModelCreation_SentenceGenerator/SmoothedUnigram/history

*.xml

utils/SmoothedBigram/children

utils/SmoothedBigram/children

utils/SmoothedBigram/crime
